@model CORETest.Areas.Admin.Models.PostViewModel
@{
    @using CoreLayer.Services.Categories;
    @inject ICategoryservices _Categoryservice;
    var Allcategory = _Categoryservice.GetAllCategories();
    var category = Allcategory.SingleOrDefault(c => c.ParentID == Model.CategoryId);
    var Subcategory = Allcategory.SingleOrDefault(c => c.Id == Model.SubCategoryId);
}


<form method="post" asp-area="Admin" asp-controller="Posts" asp-action="Delete">
    <fieldset disabled>
        <legend class="danger">آیا از حـذف @Model.Title مـطـمئـن هـسـتـید؟</legend>
        <div class="box-body">
            <div class="col-md-6">
                <div col-md-6">
                    <label for="disabledTextInput" class="form-label">تصـوِیـر</label>
                    <img style="max-width:100%" class="thumbnail" src="~/images/posts/@Model.Photo1 " />
                </div>

            </div>
            <div class="col-md-6">
                <div col-md-4">
                    <label for="disabledTextInput" class="form-label">Slug</label>
                    <input asp-for="Slug" type="text" class="form-control" placeholder="@Model.Slug">
                </div>
                <br />
                <div class="col-md-4">

                    <div >
                        <label for="disabledSelect" class="form-label">گـروه</label>
                        <select id="disabledSelect" class="form-select">
                            <option>@category.Title</option>
                        </select>
                    </div>
                    <div >
                        <label for="disabledSelect" class="form-label">زیـر گـروه</label>
                        <select id="disabledSelect" class="form-select">
                            <option>@Subcategory.Title</option>
                        </select>
                    </div>

                    <br />
                </div>
                <div class="col-md-4">
                    <label for="disabledTextInput" class="form-label">بازدید</label>
                    <input asp-for="Visit" type="text" class="form-control" placeholder="@Model.Visit">
                </div>

            </div>
        </div>
    </fieldset>
    <div class="box-footer ">
        <button type="submit" class="btn btn-danger btn-lg" style="width:100%">حـذف</button>
    </div>
</form>


